#badge {
    display: grid;
    place-items: center;
    height: 100vh;
    min-height: 812px;
    width: 100vw;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.figure {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.figure .stamp {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
}

.figure .profile-picture {
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
}

.text h1 {
    font-size: 1.5rem;
    color: var(--orange);
}

.text a {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--white);
    opacity: 0.5;
}

.text a img {
    width: 1.25rem;
}

.text p {
    max-width: 350px;
    opacity: 0.75;
    color: var(--white);
}

.social-media-links {
    margin-top: 1rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.social-media-links li a {
    background-color: var(--black-3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

    transition: transform 0.3s;
}

.social-media-links li a:hover {
    transform: translateY(8px);
    filter: brightness(0.95);
}

.social-media-links li a img {
    width: 1.5rem;
    height: 1.5rem;
}

@media(min-width: 768px) {
    #badge {
        background: url('../img/badge.svg') no-repeat top;
    }

    .profile {
        gap: 0.10rem;
        height: 100%;
    }
}

@media(min-width: 1024px) {
    .profile {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 22.5rem;
    }
}

@media(min-width: 1920px) {
    .profile {
        height: 5.25rem;
    }
}